.cc-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.fa-solid{
	margin-right: 10px;
	font-size: 22px;
	color: #aaa;
}

.order-details div, .wallet-balance {
	padding: 10px;
	margin: 5px 0;
	font-size: 16px;
}
.order-details div:last-child, .wallet-balance div:last-child {
	border-bottom: none;
}
.wallet-balance {
	font-size: 18px;
	text-align: center;
}

#tColorA, #tColorB{
	cursor: pointer;
	border:1px solid #ccc;
	border-radius:7px 7px 0px 0px;
	width:200px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	margin-left:10px;
	padding:10px 0px;
	background-color: #e8e6e6;
	transition: all 0.3s;
}

#tColorA:hover, #tColorB:hover{
	background-color: #ccc;
}

.card-details{
	padding: 20px 80px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 7px;
	line-height: 1.5;
}

.ewallet-details{
	padding: 20px 80px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 7px;
	line-height: 1.5;
}

.card-details .c-number{
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 0 12px;
	margin-top: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ewallet-details .c-number{
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 0 12px;
	margin-top: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fvrt{
	width: 100%;
	margin: 20px 0px 0px 0px;
	height: 20px;
	justify-content: space-between;
	align-content: center;
}
.saved-card{
	width: 100%;
	margin: 10px 0px;
	height: 20px;
	justify-content: space-between;
	align-content: center;
}
.cc-number,.cc-exp,.cc-cvv{
	border: none;
	border-radius: 3px;
	outline: none;
	width: 100%;
	height:100%
}
.c-details{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 20px 0;
}
.cc-exp{
	border: 1px solid #aaa;
	border-radius: 3px;
	height: 50px;
	padding: 12px;
	width: 200px;
}
.c-details .cvv-box{
	border: 1px solid #aaa;
	margin-top: 10px;
	padding: 12px;
	height: 50px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	width: 108px;
}
.cc-cvv{
	width: 60px;
}

