#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid orange;
    width: 120px;
    height: 120px;
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }