/* Style all input fields */
input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  /* Style the container for inputs */
  .form-group1 {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    background: #FFA447;
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
  }
  #message h3 {
    margin:left;
    color:whitesmoke;
  }
  #message p {
    padding: 5px 35px;
    font-size: 18px;
    color:whitesmoke;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .message.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
    color:green;
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid.p{
    color: red;
  }
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
    color:red;
  }
  