.left-table{
    width: 30% !important;
    vertical-align: middle !important;
    padding: 10px !important;
}

.right-table{
    width: 70% !important;
    vertical-align: middle !important;
    padding: 10px !important;    
}

.right-data{
    margin:0px !important;
}

.submitButton{
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border:2px solid orange;
    background-color: #f5f5f5;
    color: #333333;
    padding:4px 10px;
    border-radius:4px;
    transition: background-color 0.3s;
}

.submitButton:hover{
    background-color: orange;
    color: white;
}

.gobackButton{
    display: block;
    margin: 0 auto;
    margin-top:17px;
    border:0px solid #aaa9a9;
    background-color:#aaa9a9;
    padding:10px 20px;
    border-radius:4px;
    transition: background-color 0.3s;

}

.gobackButton:hover{
    background-color: grey;
    color: white;
}